{% extends "base_template.html" %}

{% block content %}
{% load static %}
{{ game_end_status|json_script:"game-status"}}
<h1>Welcome to Rock-Paper-Scissors game!</h1>
{% if game_end_status %} GAME IS END. TO START NEW GAME: <button class="btn btn-success btn-sm" id="return-to-index" onclick="location.href='http://' + window.location.host + '/index/'">Return to index page</button>
{% else %}
<h2>Rules reminder</h2>
<ul id="list-of-rules">
    <li>You and your opponent have 3 different weapons for round - the Rock, the Paper and the Scissors</li>
    <li>Rock beats Scissors, Scissors beats Paper, Paper beats Rock</li>
    <li>Each round you and your opponent choosing 1 weapon</li>
    <li>If your weapon beats opponents weapon - your win</li>
</ul>
<div class="playground">
    <p id="choosing-text">Choose your weapon:</p>
    <div class="weapons">
        <button class="btn btn-success btn-sm" id="rock" >Rock</button>
        <button class="btn btn-success btn-sm" id="paper" >Paper</button>
        <button class="btn btn-success btn-sm" id="scissors" >Scissors</button>
    </div>
    <div id="owner-field"><div>Owner of room: </div><div id="owner-name">{{ game_owner }}</div><div id="owner-weapon"></div></div>
    <div id="opponent-field"><div>Opponent: </div><div id="opponent-name"> {% if game_opponent != None %} {{ game_opponent }} {% else %} Waiting for opponent {% endif %} </div><div id="opponent-weapon"></div></div>
    <div id="winner"></div>
    <div id="end-game-str"></div>
</div>
{% endif %}
{% endblock %}
{% block chat %}
<div class="mb-2"><textarea class="form-control" id="chatLog" readonly></textarea></div>
<div class="input-group">
  <input type="text" class="form-control" id="chatMessageInput" placeholder="Enter your chat message">
</div>
<div class="input-group-append">
    <button class="btn btn-success" id="chatMessageSend" type="button">Send</button>
</div>
<script src="{% static 'js/game_room.js' %}"></script>
{% endblock %}