{% extends "base_template.html" %}

{% block content %}
{% load static %}
<h1>Welcome to Rock-Paper-Scissors game!</h1>
<h2>List of available game</h2>
<table class="table table-striped test-table" id="available-game">
    <tr>
      <th>qame</th>
      <th>qame owner</th>
      <th>action</th>
    </tr>
    <tbody id="available-game-tbody"></tbody>
</table>
<h2>Create your own game</h2>
<div><input id="create-game-input" type="text" placeholder="Input game name"><button class="btn btn-success btn-sm" id="create-game">Create game</button></div>
<!-- ADD THIS FUNCTTIONLITY LATER <div><input id="search-game-input" type="text" placeholder="Input room name"><button id="search-game">Search existing game</button></div> -->
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}