{% extends "base_template.html" %}

{% block content %}
{% load static %}
<h1>Welcome to Rock-Paper-Scissors game!</h1>
<h2>List of available game</h2>
<div id="available-game-div"><ul id="available-game"></ul></div>
<form action=""><input type="text" placeholder="Input room name"><button id="create-game">Start game</button></form>
<form action=""><input type="text" placeholder="Input room name"><button id="join-game">Search existing game</button></form>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}